@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

img {
  widht: 100%;
  min-height: 200px;
  max-height: 200px;
  height: auto;
  object-fit: cover;
  transition: all 0.3s ease;
}

img:hover {
  scale: 102%;
}

.custom-loader {
  width: 50px;
  height: 50px;
  --c: radial-gradient(farthest-side, #64748b 92%, #0000);
  background: var(--c) 50% 0, var(--c) 50% 100%, var(--c) 100% 50%,
    var(--c) 0 50%;
  background-size: 12px 12px;
  background-repeat: no-repeat;
  animation: s7 1s infinite;
}
@keyframes s7 {
  to {
    transform: rotate(0.5turn);
  }
}
